.CodeMirror {
	height: 100%;
	border: 1px solid black;
}

#maximize-btn:hover {
	stroke: pink;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	display: none;
	width: 220px;
	height: 40px;
	font-size: 12pt;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	transition: all 1s ease-out;
	right: 50px;
}

.tooltip:hover .tooltiptext {
	display: block;
}

.right {
	left: 105%;
}

.left {
	right: 105%;
}

.top {
	bottom: 105%;
}

.bottom {
	top: 50%;
}